<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ek+Mukta">
</head>
<body>
      <div class="wrap-menu">
      <div class="navigation">
        <a href="analytics.html"><div class="nav-bar" id="analytics-nav">Analytics</div></a>
        <a href="moderation.html"><div class="nav-bar" id="moderation-nav">Moderation</div></a>
        <a href="index.html"><div class="nav-bar" id="users-nav">Users</div></a>
        <a href="settings.html"><div class="nav-bar" id="settings-nav">Settings</div></a>
        <a href="blog.html"><div class="nav-bar" id="blog-nav">Blog</div></a>
        <a href="onderzoek.html"><div class="nav-bar" id="onderzoek-nav">Onderzoek</div></a>
        <a href=""><div class="nav-bar" id="inklappen-nav">Inklappen</div></a>
      </div>
      </div>
</body>
</html>
