/* Creates grey background */
body {
  background-color: #CCCCCC;
  font-family:'Ek Mukta';
}

h3 {
  margin-left: 60px;
}


/* Button stylng */
.button-div {
  display: block;
  position: relative;
  clear: both;
  margin-left: 60px;
}



/* Clearfix will allow divs to move if screen gets smaller */
/* In this case I floated the UL and Li */
.clearfix:after {
    display:block;
}


/* margin 0px auto makes sure that the nav bar is centered */
.menu {
    width:1000px;
    height: 600px;
    margin:0px auto;
    background: white;
    border: solid black 1px;
    box-shadow:0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.drop-down {
    list-style:none;
    border: solid black 1px;
    width: 200px;
    border-radius: 5px;
}

.menu span {
    color: black;
}


/* This changes the span's color to white (the drop-down item) */
.menu li:hover > span {
    text-decoration:none;
    color:white;
}

/* The arrow */
.menu .arrow {
    font-size:11px;
    line-height:0%;
}





/* Creates the drop down, and contains the drop-down items */
.menu > ul > li {
    float:left;
    position:relative;
    font-size:16px;
    text-align: center;
    margin: 20px;
}


/* This gives shadow to the text in the UL's */
/* And also the size of the drop-down boxes */
/* AND fills the boxes with grey color */
.menu > ul > li > span {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}

/* Grey background color for the drop-down boxes */
.drop-down {
    background:#CCCCCC;
}



/* Allows menu's to drop down and show */
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
    margin-top: -5px;
}

/* This is the actual menu that is hidden until HOVER is used above */
/* Setting position to ABSOLUTE makes sure that the sub menu is directly below the top menu */
.sub-menu {
    width:100%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:-1px;
    z-index: -1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#CCCCCC;
    border: solid black 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* Removes bullet points from list items */
.sub-menu li {
    list-style-type: none;
    font-size:16px;
}




