.clearfix:after {
    display:block;
    clear:both;
}

/* Creates grey background */
body {
  background-color: #CCCCCC;
}


/* margin 0px auto makes sure that the nav bar is centered */
.menu {
    width:1000px;
    height: 600px;
    margin:0px auto;
    background: white;
    border: solid black 1px;
    box-shadow:0px 1px 3px rgba(0, 0, 0, 0.2);
}

.drop-down {
    margin:30px;
    list-style:none;
    border: solid black 1px;
    /* font-family:'Ek Mukta'; */
}

.menu span {
    color: black;
}


/* This changes the span's color to white (the drop-down item) */
.menu li:hover > span {
    text-decoration:none;
    color:white;
}

/* The arrow */
.menu .arrow {
    font-size:11px;
    line-height:0%;
}





/* Creates the drop down, and contains the drop-down items */
.menu > ul > li {
    float:left;
    position:relative;
    font-size:19px;
    margin: 20px;
}


/* This gives shadow to the text in the UL's */
/* And also the size of the drop-down boxes */
/* AND fills the boxes with grey color */
.menu > ul > li > span {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}

/* Grey background color for the drop-down boxes */
.menu > ul > li:hover > span, .menu > ul > .current-item {
    background:#CCCCCC;
}



/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}

.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#CCCCCC;
}

.sub-menu li {
    display:block;
    font-size:16px;
}

.sub-menu li a {
    padding:10px 30px;
    display:block;
}

.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
}



