/* Creates grey background */
body {
  background-color: white;
  font-family:'Ek Mukta';
}

/* NAV BAR */
#header {
  width: 101%;
  height: 50px;
  background-color: black;
  margin-top: -15px;
  margin-left: -1%;
  z-index: 1;
  position: relative;
}
#danielle {
  color: white;
  float: right;
  margin: 15px;
}
img#insided-image {
  margin: 15px 0 0 15px;
  width: 240px;
}


/* MAIN CODE */
.navigation {
  width: 110px;
  height: 1500px;
  float: left;
  background-color: #EAFAE4;
  z-index: 1;
  position: absolute;
  border-radius: 5px;
  background-color: #D2F7C9;
  margin-top: -20px;
}

.nav-bar {
  height: 100px;
  text-align: center;
  margin: 5px 2px 5px 0;
  box-shadow:0px 10px 50px rgba(0, 0, 0, 0.2);
}
.nav-bar:hover {
  box-shadow:0px 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #add8e6;
}


h3 {
  margin-left: 60px;
}

a {
  text-decoration: none;
  color: black;
}


/* Button stylng */
.button-div {
  display: block;
  position: absolute;
  clear: both;
  margin-left: 60px;
}
#delete-button {
  display: inline-block;
  margin-top: 4%;
  top: 5%;
  right: 35%;
  background-color: red;
  border-radius: 5px;
  display: none;
  position: absolute;
}
.button-styling {
  margin-right: 5px;
  padding: 0 5px 0 5px ;
  background-color: #add8e6;
  border: 1px solid #666;
  color:#000;
  text-align: center;
  text-decoration:none;
  border-radius: 5px;
  box-shadow:0px 1px 3px rgba(0, 0, 0, 0.2);
}
.button-styling:hover {
  background-color: #D2F7C9;
}
.button-styling:focus {
  background-color: red;
}
.delete-tag-button {
  margin-top: 20px;
  clear: both;
  width: 100px;
}
.add-button {
  display: none;
  clear: both;
  width: 90px;
  height: 30px;
  margin-left: 60px;
  padding: 5px;
  background-color: #add8e6;
  border: 1px solid #666;
  color:#000;
  text-align: center;
  text-decoration:none;
  border-radius: 5px;
  box-shadow:0px 1px 3px rgba(0, 0, 0, 0.2);
}
.add-button:hover {
  background-color: #D2F7C9;
}
.add-button:focus {
  color:#f00;
}

hr {
  clear: both;
}
#button3 {
  float: right;
  margin: 10px;
  margin-top: 33px;
  padding: 0 5px 0 5px;
  clear: both;
  color:#000;
  text-align: center;
  text-decoration:none;
  background-color: #D2F7C9;
  border-radius: 5px;
  border: 1px solid #666;
  box-shadow:0px 1px 3px rgba(0, 0, 0, 0.2);
}


.change-rows-button {
  width: 10%;
  display: inline-block;
  float: right;
  margin: 0 auto;
  margin-top: -22px;
  padding: 0 5px 0 5px;
  clear: both;
  color:#000;
  text-align: center;
  text-decoration:none;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #666;
  box-shadow:0px 1px 3px rgba(0, 0, 0, 0.2);
}


/* Clearfix will allow divs to move if screen gets smaller */
/* In this case I floated the UL and Li */
.clearfix:after {
    display:block;
}

.li-color:hover {
  background-color: #add8e6;
}


/* margin 0px auto makes sure that the nav bar is centered */
.menu {
    width:1000px;
    height: 700px;
    margin:0px auto;
    background: #EAFAE4;
    border: solid black 1px;
    box-shadow:0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 20px;
}

.drop-down {
    list-style:none;
    border: solid black 1px;
    width: 180px;
    border-radius: 5px;
    padding-left: 0px;
}
span {
    width: 100px;
}
#fake-drop-down1,
#fake-drop-down2,
#drop-down1,
#drop-down2,
#drop-down3,
#drop-down4,
#drop-down5 {
  width: 160px;
  padding-left: 10px;
  padding-right: 0;
}



/* This changes the span's color to white (the drop-down item) */
.menu li:hover > span {
    text-decoration:none;
    color: white;
    text-shadow: black 0px 0px 1px;
}

/* The arrow */
.arrow {
    font-size:11px;
    line-height:0%;
}
img.window-size {
  width: 10%;
  height: 10%;
  float: right;
}
img.face-icon {
  width: 7%;
}


/* Creates the drop down, and contains the drop-down items */
.menu > ul > li {
    float:left;
    position:relative;
    font-size:14px;
    margin: 20px;
}


/* This gives shadow to the text in the UL's */
/* And also the size of the drop-down boxes */
/* AND fills the boxes with grey color */
.menu > ul > li > span {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}

/* Grey background color for the drop-down boxes */
.drop-down {
  background:white;
}

/* clear: both allows div to be placed on new line */
#drop-down-first {
  clear: both;
  /* display: none; */
}
#drop-down-fourth {
  clear: both;
  /* display: none; */
}

/* Setting display to none hides divs until ready to be called */
#static-drop-down2,
#drop-down-second,
#drop-down-third,
#drop-down-fifth {
  display: none;
}

#drop-down-first,
#drop-down-fourth {
  opacity: .35;
  cursor: not-allowed;
  pointer-events: none;
}

#sub-menu1 {
  display: none;
}
#sub-menu4 {
  display: none;
}
#fake-menu1 {
  display: none;
}
.check-list{
  margin-left: 10px;
}

/* Allows menu's to drop down and show */
.menu li/* :hover */ .sub-menu {
    z-index: 1;
    opacity: 1;
    margin-top: -5px;
}

/* This is the actual menu that is hidden until HOVER is used above */
/* Setting position to ABSOLUTE makes sure that the sub menu is directly below the top menu */
.sub-menu {
    width:100%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:-1px;
    z-index: -1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:white;
    border: solid black 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* Removes bullet points from list items */
li {
  list-style-type: none;
  font-size:16px;
}
ul {
  list-style-type: none;
}

.sub-check-boxes {
  list-style-type: none;
  text-align: left;
  text-decoration: none;
  padding-left: 0;
}


/* TAG MENU */
.tag-menu {
  background-color: white;
  width: 1000px;
  height: 85px;
  display: block;
  margin:0px auto;
}




/* PART 2 */
.menu2 {
  z-index: -1;
  width:1000px;
  height: 650px;
  margin:0px auto;
  background: #EAFAE4;
  border: solid black 1px;
  box-shadow:0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}


/* The Table with rows and columns */
.grid-container{
    width: 100%;
    max-width: 1000px;
}

/* keeps the rows from smushing together */
/* display table allows for the thicker lines between each row */
.row:before,
.row:after {
    display: table ;
    clear:both;
}

/* using the [class*=...] allows us to apply CSS to all classes that are */
/* ... similar and that contain the word "col-" */
[class*='col-'] {
  float: left;
  min-height: 1px;
  background-color: white;
  outline: 1px solid #000000;
  border-radius: 5%;
}

.col-1 {
  width: 20.00%;
  text-align: left;
}
.col-2 {
  width: 10.00%;
  text-align: center;
}
.col-3 {
  width: 15.00%;
  text-align: center;
}
.col-4 {
  width: 50%;
  height: 50px;
}
.col-5 {
  width: 25%;
  height: 50px;
}
.col-6 {
  width: 25%;
  height: 50px;
}

#grid-row-1 {
  width: 19.90%;
  margin-left: 2px;
  outline: none;
}
#grid-row-2 {
  outline: none;
}
#grid-row-3 {
  outline: none;
  width: 14.75%;
}

/*-- some extra column content styling --*/
[class*='col-'] > p {
   background-color: white;
   padding: 0;
   margin: 0;
   color: black;
   padding: 12px;
}


.wrap-menu3 {
  float: bottom;
  top: 1300px;
  left: 200px;
}

.showInputs {
  width: 1000px;
  height:80px;
  /* background-color: green; */
  max-height: 100%;
  overflow: auto;
}

#static-drop-down1-new,
#static-drop-down2-new,
#drop-down-first-new,
#drop-down-second-new,
#drop-down-third-new,
#drop-down-fourth-new,
#drop-down-fifth-new {
  display: inline;
  /* overflow: auto; */
}

